*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
    color: #444;
}

h2
{
    color: #444;
    font-size: 55px;
}

h4
{
    font-size: 24px;
    color: #444;
}

p
{
    line-height: 20px;
    color: #777;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #444;
}

.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.orange
{
color: #ff7a00;
}

header
{
    height: 120px;
}

header h1
{
    float: left;
    margin-top: 32px;

}

header nav
{
    float: right;
    margin-top: 50px;

}

header nav ul li
{
    float: left;
    display: inline-block;
    
}

header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}


/* MAIN IMAGE */

#main-image
{
    height: 580px;
    background: url('images/main.jpg') no-repeat center;
 
}

#main-image h2
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: -15px;
}

.button-1
{
    display: block;
    width: 100px;
    height: 50px;
    background:#ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto; /* Centre sur les cotés */
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    
}

.button-1:hover
{
    background: #02b8dd;
}

/* Partie Steps */

#steps ul
{
    margin: 80px 0;;
}

#steps ul li
{
    width: 300px;
    float: left;
    margin-right: 10px ;
    padding-top: 140px;
    text-align: center;
    
}

#steps h4
{
    text-transform: uppercase;
    margin-bottom: 20px;
}

#steps p
{
    margin-bottom: 20px;
}

#step-planifier
{
    background: url('images/Planifier.png') no-repeat top center;
}

#step-organiser
{
    background: url('images/Organiser.png') no-repeat top center;
}

#step-voyager
{
    background: url('images/Voyager.png') no-repeat top center;
}